# Node modules
node_modules/

# Editor and IDE files
.vscode
.idea

# Build outputs
dist/

# Test files
coverage
jest.config.js
test/__mock__/

# Others
.nyc_output/
git_stats/
yarn-offline/
docs/
babel.config.js
.commitlintrc.js
.eslintignore
.eslintrc.js
.stylelintrc.js
config/
styles/
logs/
.yarn
.next
bin/
lib/
